.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .header {
    border-radius: 0px;
  }

  .body {
    display: flex;
    flex-direction: column;
    flex: 1;
    @media(min-width:768px) {
      flex-direction: row;
    }
  }

  .filter {
    flex: 0 0 12em;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    // @media(min-width:768px) {
    //   flex-direction: row;
    // }
  }

  .footer {
    flex: none;
  }

}
